@page "/"
@attribute [Authorize]

<AuthorizeView>
  <h1>Olá! </h1>
</AuthorizeView>     

Bem vindo ao Ajuda Solidaria, app para ajudar pessoas que não podem sair de casa devido a quarententa do Corona Vírus.