@page "/"
<div>
    <h1>Olá! </h1>  

    <p class="text-justify"><h4>Bem vindo ao Ajuda Solidaria, app para ajudar pessoas que não podem sair de casa devido a quarententa do Corona Vírus.</h4></p>

    <img src="/assets/images/logo.png" width="300px">
</div>