@page "/solicitar"
@using System.Threading.Tasks
@inject HttpClient Http
@inject AuthenticationStateProviders.TokenAuthenticationStateProvider TokenProvider
@using System.ComponentModel.DataAnnotations;
@attribute [Authorize]

<h3>Solicitar Ajuda</h3>
<br/>
<br/>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@requestModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
                <div class="form-group">
                    <label class="control-label">Solicitação:</label>
                    <InputTextArea @bind-Value="requestModel.Description" />
                </div>

            <button class="btn btn-outline-primary btn-sm" type="submit">Registrar</button>
        </EditForm>
    </div>
</div>

@code {
    private RequestModel requestModel = new RequestModel();

    private async void HandleValidSubmit()
    {
        var token = await TokenProvider.GetTokenAsync();

        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            await Http.PostJsonAsync<Request[]>("url", requestModel);
        }
    }

    public class RequestModel
    {
        public string Description { get; set; }
    }
}
