@page "/solicitar"
@using System.Threading.Tasks
@inject HttpClient Http
@inject AuthenticationStateProviders.TokenAuthenticationStateProvider TokenProvider
@using System.ComponentModel.DataAnnotations;
@attribute [Authorize]

<EditForm Model="@requestModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Solicitação:
            <InputTextArea @bind-Value="requestModel.Description" />
        </label>
    </p>   

    <button type="submit">Solicitar</button>
</EditForm>

@code {
    private RequestModel requestModel = new RequestModel();

    private async void HandleValidSubmit()
    {
        var token = await TokenProvider.GetTokenAsync();
        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            var result = await Http.PostJsonAsync<Request[]>("url", requestModel);
        }
    }

    public class RequestModel
    {
        public string Description { get; set; }
    }
}
