@inherits LayoutComponentBase
@inject AuthenticationStateProviders.TokenAuthenticationStateProvider TokenProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 d-flex justify-content-between">
        <NavLink class="btn btn-sm btn-outline-dark" href="corona">
                Corona Status
        </NavLink>
       <AuthorizeView>
            <button class="btn btn-sm btn-outline-dark" @onclick="@(() => TokenProvider.SetTokenAsync(null))">Logout</button>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
